.title{
    /* align-items: center; */
    color: white;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    

}
.headerContainer{
    background-color: black;
    /* display:flex; */
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: x-large;
}

.viewCart{
    color: azure;
    position:fixed; 
    right: 0px;
    padding: 25px;

}
.head{
    display:flexbox;

}

.myicon{
    padding-top:"30px"
}